.form {
  font-family: メイリオ,Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Osaka,'ＭＳ Ｐゴシック';
  margin: 16px;
  width: 656px;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="url"],
.form input[type="tel"],
.form textarea {
  font-size: 14px;
  border: 1px solid #CFD8DC;
  padding: 8px;
  border-radius: 3px;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="url"],
.form input[type="tel"] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 4px;
}
.form textarea {
  box-sizing: border-box;
  width: 100%;
}
.form input[type="radio"] {
  cursor: pointer;
  vertical-align: 2px;
}
.form label {
  color: #212121;
  cursor: pointer;
  font-size: 14px;
  margin-right: 16px;
}
.form .ng-invalid.ng-touched {
  background-color: #FCE4EC;
}
.form__list {
  padding-left: 0;
}
.form__list li {
  box-sizing: border-box;
  padding: 0 2px;
  list-style-type: none;
}
.form__list_half {
  float: left;
  width: 50%;
}
.form__list_clear {
  clear: both;
}
.form__list_relative {
  position: relative;
}
.form__list_count {
  position: absolute;
  right: 16px;
  bottom: 12px;
  color: #2196F3;
}
.form__list_title {
  font-size: 14px;
}
.form__message_error {
  color: #BF360C;
}
.form__button {
  margin: 16px auto;
  padding: 8px 0;
  font-size: 18px;
  width: 300px;
  display: block;
  border: 4px solid #2196F3;
  color: #2196F3;
  background-color: #fff;
  border-radius: 40px;
  cursor: pointer;
}
.form__button:hover {
  color: #fff;
  background-color: #2196F3;
}
.form__button:disabled {
  cursor: default;
  color: #fff;
  background-color: #2196F3;
  opacity: .3;
}
