.form {
  font-family: メイリオ,Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Osaka,'ＭＳ Ｐゴシック';
  padding: 16px;
}
.form input,
.form textarea {
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 2px;
}
.form input {
  width: 300px;
}
.form textarea {
  width: 600px;
}
.form .ng-invalid.ng-touched {
  background-color: #FCE4EC;
}
.form__list {
  padding-left: 0;
}
.form__list li {
  list-style-type: none;
}
.form__message_error {
  color: #BF360C;
}
.form__button {
  cursor: pointer;
}
.form__button:hover {

}
.form__button:disabled {
  cursor: default;
}
