<!DOCTYPE html>

<html ng-app="formApp">

<head>
  <title>form by angular</title>
  <link rel="stylesheet" href="./build.css">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="./build.js"></script>
</head>

<body>
  <form name="form" class="form" novalidate ng-controller="FormController">
    <ul class="form__list">
      <li class="form__list_half">
        <input type="text" name="uName" placeholder="名前（必須）" ng-model="user.name" required>
        <div ng-show="form.$submitted || form.uName.$touched" class="form__message_error">
          <span ng-show="form.uName.$error.required">名前を入力してください。</span>
        </div>
      </li>
      <li class="form__list_half">
        <input type="email" name="uEmail" placeholder="メールアドレス（必須）" ng-model="user.email" required style="ime-mode: disabled;">
        <div ng-show="form.$submitted || form.uEmail.$touched" class="form__message_error">
          <span ng-show="form.uEmail.$error.required">メールアドレスを入力してください。</span>
          <span ng-show="form.uEmail.$error.email">正しくメールアドレスを入力してください。</span>
        </div>
      </li>
      <li class="form__list_half form__list_clear">
        <input type="url" name="uUrl" placeholder="URL（任意）" ng-model="user.url" style="ime-mode: disabled;">
        <div ng-show="form.$submitted || form.uUrl.$touched" class="form__message_error">
          <span ng-show="form.uUrl.$error.url">正しくURLを入力してください。</span>
        </div>
      </li>
      <li class="form__list_half">
        <input type="tel" name="uTel" placeholder="電話番号（任意）" ng-model="user.tel" ng-pattern="/^[\-0-9]/" ng-minlength="10" ng-maxlength="13" style="ime-mode: disabled;">
        <div ng-show="form.$submitted || form.uUrl.$touched" class="form__message_error">
          <span ng-show="form.uTel.$error.minlength || form.uTel.$error.maxlenth || form.uTel.$error.pattern">正しく電話番号を入力してください。</span>
        </div>
      </li>
      <li class="form__list_clear form__list_relative">
        <textarea name="uMemo" placeholder="お問い合わせ内容（任意 / 140文字以内）" ng-model="user.memo" ng-maxlength="140" rows="6"></textarea>
        <span class="form__list_count">{{140 - user.memo.length}}</span>
        <div ng-show="form.$submitted || form.uMemo.$touched" class="form__message_error">
          <span ng-show="form.uMemo.$error.maxlength">140字以内で入力してください。</span>
        </div>
      </li>
<!--
      <li>
        18+ <input type="checkbox" ng-model="user.adult">
      </li>
      <li>
        tel-type <input type="radio" ng-model="user.phone" value="iphone"> iphone
        <input type="radio" ng-model="user.phone" value="android"> android
      </li>
-->
      <li><button type="submit" ng-click="submit(user)" ng-disabled="!form.$valid" class="form__button">送信する</button></li>
    </ul>
  </form>

  <pre>{{user|json}}</pre>

</body>

</html>
